.description-container {
    text-align: center;
  }
  
  .main-heading {
    color: white;
  }
  
  .sub-heading {
    color: #FF9240;
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 14px;
    color: black;
    line-height: 1.5;
  }
  