/* Header Styles */
.header-container {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.profile-picture-container {
    /* position: relative; */
    margin-right: 20px;
}

.profile-picture {
    width: 100%;
    /* Adjust the size of the profile picture */
    height: 100%;
    border-radius: 50%;
    /* Create a circular mask */
    border: 4px solid #000;
}

.flower-image {
    position: absolute;
    top: 1;
    left: 1;
    width: 10vw;
    /* Adjust the size of the flower image */
    height: 20vh;
    z-index: 1; 
}

.flower-image-mobile {
    position: absolute;
    top: 1;
    left: 1;
    width: 30vw;
    /* Adjust the size of the flower image */
    height: 30vw;
    z-index: 1; 
}

.name {
    font-size: 24px;
    /* Adjust the font size for your name */
    margin-bottom: 8px;
}

.title {
    width: 100%;
    /* Adjust the size of the profile picture */
    height: 100%;
    font-family: 'Cantarell', sans-serif; 
    font-weight: bold;
    font-style: italic;
    color: #000;
}

.name-title-container {
    margin-right: 20px;
}

.diamond {
    width: 10vh;
    height: 10vh;
    background-color: #FFF8EB; /* Set the background color of the diamond */
    transform: rotate(45deg); /* Rotate the square to create a diamond shape */
    border: 2px solid #000;
    border-radius: 10px;
  }

  .mobile-display{
    display: flex;
    flex-direction: column;
  }